.homePageBannerContainer1 {
  background-color: black;
  position: relative;
  text-align: center;
}
.homePageBannerImage1 {
  height: 670px;

  background-repeat: no-repeat;

  background-size: cover;
  background-image: url("../../public/images/homePageBanner.png");
}
.opcity {
  opacity: 0.2;
}
.image[wobble="1"] {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* .dropDown {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/images/dropDown.png");
} */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: transparent !important; /* here */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* border: 1px solid #ccc; */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  /* transform: translate3d(-247px, 34px, 0px) !important; */
}

#fadesample {
  /* animation-name: fadeIn;
  animation-duration: 0.3s; */
  position: relative;
  animation: fadeUp 0.2s ease-in forwards;
  animation-iteration-count: 1;
}

#fadesample1 {
  /* animation-name: fadeUp;
  animation-duration: 0.4s; */
  position: relative;
  animation: fadeUp 0.4s ease-in forwards;
  animation-iteration-count: 1;
}
@keyframes fadeUp {
  from {
    top: 200px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
#fadesample2 {
  position: relative;
  animation: fadeUp 0.6s ease-in forwards;
  animation-iteration-count: 1;
}

#fadesample3 {
  position: relative;
  animation: fadeUp 0.8s ease-in forwards;
  animation-iteration-count: 1;
}

#fadesample4 {
  position: relative;
  animation: fadeUp 1s ease-in forwards;
  animation-iteration-count: 1;
}

#fadesample5 {
  position: relative;
  animation: fadeUp 1.2s ease-in forwards;
  animation-iteration-count: 1;
}
#fade {
  position: relative;

  animation: fadeIn 0.2s ease-out forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 200px;
    opacity: 0;
  }
}
#fade1 {
  position: relative;

  animation: fadeIn 0.2s ease-out forwards;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
}
#fade2 {
  position: relative;

  animation: fadeIn 0.2s ease-out forwards;
  animation-iteration-count: 1;
  animation-delay: 0.6s;
}
#fade3 {
  position: relative;

  animation: fadeIn 0.2s ease-out forwards;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
}
#fade4 {
  position: relative;

  animation: fadeIn 0.2s ease-out forwards;
  animation-iteration-count: 1;
  animation-delay: 0.2s;
}
#fade5 {
  position: relative;

  animation: fadeIn 0.2s ease-out forwards;
  animation-iteration-count: 1;
}
.homePageBannerStripe1 {
  position: absolute;
  top: "96px";
  z-index: 1;
}
.homePageBannerText1 {
  position: absolute;
  z-index: 1;
  /* width: 440px;
  height: 383px; */
  color: white;
}
.tableHeader1 {
  background-color: #20c5f7;
  color: white;
}
.cardBannerContainer1 {
  background-color: black;
  position: relative;
  text-align: center;
}
.cardBannerImage1 {
  /* height: 670px; */

  background-repeat: no-repeat;

  background-size: cover;
}
.cardBannerStripe1 {
  position: absolute;
  top: "96px";
  z-index: 1;
}
.cardBannerText1 {
  position: absolute;
  z-index: 1;
  /* width: 440px;
  height: 383px; */
  color: white;
}
.tableHeader1 {
  background-color: #20c5f7;
  color: white;
}
@media screen and (max-width: 768px) {
  .homePageBannerImage1 {
    background-image: url("../../public/mobileviewHomepage.png");
  }
}
@media screen and (max-width: 500) {
  .homePageBannerText1 {
    font-size: 40px !important ;
  }
  .homePageBannerStripe1 {
    float: left;
    left: 0;
    top: 10;
  }
}
@media screen and (max-width: 500px) {
  .homePageBannerImage1 {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .homePageBannerImage1 {
    width: 100%;
  }
}
