.homePageBannerContainer1 {
  background-color: black;
  position: relative;
  text-align: center;
}
.homePageBannerImage1 {
  height: 670px;

  background-repeat: no-repeat;

  background-size: cover;
  background-image: url("../../public/images/homePageBanner.png");
}
.opcity {
  opacity: 0.2;
}
/* .dropDown {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/images/dropDown.png");
} */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: transparent !important; /* here */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* border: 1px solid #ccc; */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  /* transform: translate3d(-247px, 34px, 0px) !important; */
}
.homePageBannerStripe1 {
  position: absolute;
  top: "96px";
  z-index: 1;
}
.homePageBannerText1 {
  position: absolute;
  z-index: 1;
  /* width: 440px;
  height: 383px; */
  color: white;
}
.tableHeader1 {
  background-color: #20c5f7;
  color: white;
}
.cardBannerContainer1 {
  background-color: black;
  position: relative;
  text-align: center;
}
.cardBannerImage1 {
  /* height: 670px; */

  background-repeat: no-repeat;

  background-size: cover;
}
.cardBannerStripe1 {
  position: absolute;
  top: "96px";
  z-index: 1;
}
.cardBannerText1 {
  position: absolute;
  z-index: 1;
  /* width: 440px;
  height: 383px; */
  color: white;
}
.tableHeader1 {
  background-color: #20c5f7;
  color: white;
}
@media screen and (max-width: 768px) {
  .homePageBannerImage1 {
    background-image: url("../../public/mobileviewHomepage.png");
  }
}
@media screen and (max-width: 500) {
  .homePageBannerText1 {
    font-size: 40px !important ;
  }
  .homePageBannerStripe1 {
    float: left;
    left: 0;
    top: 10;
  }
}
@media screen and (max-width: 500px) {
  .homePageBannerImage1 {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .homePageBannerImage1 {
    width: 100%;
  }
}
