.homePageBannerContainer {
  background-color: black;
}
.gettyImage {
  position: absolute;
  right: 0;
  bottom: 0;
}
.homePageBannerImage {
  height: 670px;
  position: relative;

  background-repeat: no-repeat;

  background-size: cover;
  background-image: url("../../public/images/homePageBanner.png");
}
.homePageBannerStripe {
  position: absolute;
  top: "96px";
  z-index: 1;
}
.homePageBannerText {
  position: absolute;
  z-index: 1;
  width: 440px;
  height: 383px;
  color: white;
  /* padding: 20px; */

  /* border: 1px solid red; */
}
.tableHeader {
  background-color: #20c5f7;
  color: white;
}
.opcity {
  opacity: 0.2;
  background-color: black !important;
}
.image[wobble="1"] {
  animation: wobble 1s 1;
}
.dropDownDeskHeader {
  background-color: #12a0d7;
  color: white;
  height: 32px;
}
.dropDownDeskHeader1 {
  background-color: #f78320;
  color: white;
  height: 32px;
}
.arrowDisplay {
  display: block !important;
  /* background-color: aliceblue !important; */
}
.arrowNotDisplay {
  display: none !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: transparent !important; /* here */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* border: 1px solid #ccc; */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  /* transform: translate3d(-247px, 34px, 0px) !important; */
}

#fadesample2 {
  /* animation-name: fadeIn;
  animation-duration: 0.3s; */

  animation: fadeUp1 0.4s ease-in forwards;
  animation-iteration-count: 1;
}

/* #fadesample1 {
 
  position: relative;
  animation: fadeUp 0.4s ease-in forwards;
  animation-iteration-count: 1;
} */
@keyframes fadeUp1 {
  from {
    top: 44px;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

#fade2 {
  animation: fadeIn1 0.4s ease-out forwards;
  animation-iteration-count: 1;
}

@keyframes fadeIn1 {
  from {
    top: -80px;
    opacity: 0;
  }
  to {
    top: 75px;
    opacity: 1;
  }
}
