.homePageBannerContainer {
  background-color: black;
}
.gettyImage {
  position: absolute;
  right: 0;
  bottom: 0;
}
.homePageBannerImage {
  height: 670px;
  position: relative;

  background-repeat: no-repeat;

  background-size: cover;
  background-image: url("../../public/images/homePageBanner.png");
}
.homePageBannerStripe {
  position: absolute;
  top: "96px";
  z-index: 1;
}
.homePageBannerText {
  position: absolute;
  z-index: 1;
  width: 440px;
  height: 383px;
  color: white;
  /* padding: 20px; */

  /* border: 1px solid red; */
}
.tableHeader {
  background-color: #20c5f7;
  color: white;
}
