.chepOneAdHeader {
  background-color: #707070;
  color: white;
  text-align: center;
  padding-bottom: 5px;
}
.bookContainer {
  background-image: url("../../public/images/chep1/bookContainerBack.svg");
  width: 100%;
}
.card6 {
  background-image: url("../../public/images/chep1/card_6.png");
  background-size: cover;
}
.chepFooter {
  background-image: url("../../public/images/chep1/chepOneFooter.png");
  background-size: cover;
}
/* .swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet {
  background-color: gray !important;
}
.swiper-horizontal > .swiper-pagination-bullets {
  padding-bottom: 6px !important;
}
.swiper-pagination
  swiper-pagination-clickable
  swiper-pagination-bullets
  swiper-pagination-horizontal {
  margin-bottom: 8px;
} */
