.chepTwoMobcardHolder {
  background-color: black !important;
}

.chepTwoCardOneIndex {
  margin-bottom: 0px;
  padding: 0px !important;
  color: white;
  font-family: "HelveticaNeue-Bold";
  font-size: 15px;
}
.chepTwoCardOne {
  background-image: url("../../public/images/chep2/mobCardOne.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 338px;
}
.chepTwoCardOne .row {
  margin: 0px;
  padding: 0px;
}
.chepTwoCardOneImgDesc {
  padding: 0px !important;
  margin: 0px !important;
  margin-left: 0px;
  padding: 0px;
  color: #20c5f7;
  margin-bottom: 0px;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 12px;
}
.chepTwoCardOneTitle {
  padding: 0px !important;
  line-height: 1;
  margin: 0px !important;
  color: white;
  font-family: "StardosBold";
  font-size: 20px;
}
.chepTwoCardOneDescText {
  padding: 0px !important;
  margin: 0px !important;
  font-family: "HelveticaNeue-Bold";
  font-size: 12px;
  text-align: left;
  color: white;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.cardThreeHeaderImage {
  background-image: url("../../public/images/chep2/chepTwoCardThree.png");
  background-size: cover;
  height: 274px;

  position: relative !important;
}
.textHolderChepTwo {
  position: absolute;
  top: 178px;
  left: 36px;
  text-transform: uppercase;
}
.chepTwoCardThreeDesc {
  margin: 0px 30px 0px 34px;
  width: auto;
}
.chepTwoCardThreeDesc p {
  color: white;
  font-size: 12px;
  text-align: left;
  font-family: "HelveticaNeue-Bold";
  margin-top: 27.8px;
}
.chepTwoAdHeader1,
.chepTwoAdHeader2 {
  background-color: #312c2c;
  color: white;
  text-align: left;
  font-size: 18px;
  font-family: "HelveticaNeue-CondensedBold";
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 0;
  height: 25;
}
.chepTwoAdHeader1 p {
  font-size: 18px;
  font-family: "HelveticaNeue-CondensedBold";
  text-align: left;
  width: auto;
  text-transform: uppercase;
  color: white;
  margin: 0px 0px 0px 10px !important;
  margin-left: 20px;
  /* padding: 0px !important; */
  padding-top: 5px;
}
.forStripe {
  background-color: black;
}
.chepTwoAdContainer {
  background-image: url("../../public/images/chep2/blackBackground.png");
  background-size: cover;
}
.addTitleChepTwo p {
  margin: 0px 37px !important;
  padding: 10px 0px;
  font-family: "HelveticaNeue-Bold";
  font-size: 12px;
  color: white;
}
.chepTwoadDesc {
  color: white;
  font-family: "HelveticaNeue-Bold";
  font-size: 12px;
  text-align: left;
  padding: 0px !important;
  margin: 70px 0px 0px 0px !important;
}
.chep2LastCard {
  background-image: url("../../public/images/chep2/chepTwolastCard.png");
  background-size: cover;
  height: 912px;
  position: relative !important;
}

.chepTwoCardLastIndex {
  margin-bottom: 0px;
  padding: 0px !important;
  color: white;
  font-family: "HelveticaNeue-Bold";
  font-size: 15px;
}
.chepTwoLastTitle {
  line-height: 1;
  margin: 0px !important;
  color: white;
  font-family: "StardosBold";
  font-size: 30px;
}
.chepTwoLastCardDesc {
  margin-left: 34px;
  margin-top: 260px;
}
.lastCardFirst {
  color: #20c5f7;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 12px;
  text-align: left;
  width: 240px;
  line-height: 16px;
}
.lastCardSecond p {
  color: white;
  font-family: "HelveticaNeue-Bold";
  font-size: 12px;
  text-align: left;
  width: 321.59px;
}
.chepTwoFooter {
  background-image: url("../../public/images/chep2/MobFooter.png");
  background-size: cover;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.footerText {
  color: white;
  padding: 0px !important;
  margin: 0px 0px 0px 0px !important;
  font-family: "StardosBold";
  font-size: 14px;
}
