.chepTwoMobcardHolder {
  background-color: black !important;
}

.chepTwoCardOneIndex {
  margin-bottom: 0px;
  padding: 0px !important;
  color: white;
  font-family: "HelveticaNeue-Bold";
  font-size: 15px;
}
.chepTwoCardOne {
  background-image: url("../../public/images/chep2/mobCardOne.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.chepTwoCardOneImgDesc {
  padding: 0px !important;
  margin: 0px !important;
  margin-left: 0px;
  padding: 0px;
  color: #20c5f7;
  margin-top: 3px !important;
  margin-bottom: 0px;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 12px;
}
.chepTwoCardOneTitle {
  padding: 0px !important;
  line-height: 1;
  margin: 0px !important;
  color: white;
  font-family: "StardosBold";
  font-size: 20px;
}
.chepTwoCardOneDescText {
  padding: 0px !important;
  margin: 0px !important;
  font-family: "HelveticaNeue-Bold";
  font-size: 12px;
  text-align: left;
  color: white;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.cardThreeHeaderImage {
  background-image: url("../../public/images/chep2/chepTwoCardThree.png");
  background-size: cover;
  height: 274px;

  position: relative !important;
}
.textHolderChepTwo {
  position: absolute;
  top: 178px;
  left: 36px;
  text-transform: uppercase;
}
.chepTwoCardThreeDesc {
  margin: 0px 10px 0px 30px;
  width: 349px;
}
.chepTwoCardThreeDesc p {
  color: white;
  font-size: 12px;
  text-align: left;
  font-family: "HelveticaNeue-Bold";
}
.chepTwoAdHeader1,
.chepTwoAdHeader2 {
  background-color: #312c2c;
  color: white;
  text-align: left;
  font-size: 18px;
  font-family: "HelveticaNeue-CondensedBold";
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 0;
  height: 25;
}
.forStripe {
  background-color: black;
}
.chepTwoAdContainer {
  background-image: url("../../public/images/chep2/blackBackground.png");
  background-size: cover;
}
