/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Stardos+Stencil:wght@400;700&display=swap"); */
@import "~aos/dist/aos.css";

@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: StardosBold;
  src: url("../public/FONTS/Stardos_Stencil_Font/StardosStencil-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: Stardos;
  src: url("../public/FONTS/Stardos_Stencil_Font/StardosStencil-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: HelveticaNeue-CondensedBold;
  src: url("../public/FONTS/Helvetica-Neue-Condensed-Bold_22500.ttf")
    format("truetype");
}
@font-face {
  font-family: HelveticaNeue;
  src: url("../public/FONTS/helveticaneue.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNeue-Bold;
  src: url("../public/FONTS/HelveticaNeue\ Bold.ttf") format("truetype");
}
.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet {
  background-color: gray !important;
}
.swiper-horizontal > .swiper-pagination-bullets {
  bottom: -5px !important;
}
.swiper-pagination
  swiper-pagination-clickable
  swiper-pagination-bullets
  swiper-pagination-horizontal {
  margin-bottom: 8px;
}
.animationText {
  animation: waviy 1s 1;
  animation-delay: calc(0.1s * var(--i));
  transform-style: preserve-3d;
  opacity: 1;
}
.animationImage {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes waviy {
  0% {
    transform: translate3d(0px, 300px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
